@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
img{
    width:100%;
    height: 35rem;
    /* box-shadow: inset 60px 60px 60px black; */
}
.card{
    font-size: large;
    width: 50rem;
    border: 20rem;
    float: right;
    background-color: white;
    
}
.top-right {
    position: absolute;
    font-size: large;
    width: 55rem;
    height: 35rem;
    color: white;
    background-color:rgba(0,0,0,0.3);
    top: 3.5rem;
    right: 0rem;
    padding-top:6rem;
    text-align:left
  }
  p{
      padding-left: 4rem
  }
  .ourTeam{
      float:left;
      margin-right: 5rem;
      margin-left:5rem;
      text-align: left;
  }
  .ourMission{
      margin-right: 5rem;
      text-align: left;
      float:left;
  }
  .ourVision{
      margin-right: 5rem;
      text-align: left;
      float:left;
}
  .vl{
      border-left: 0.1rem solid rgb(199, 196, 196);
      height:10rem;
      margin-left: 28.5rem;
      margin-top:-7rem
}
.our{
    margin-top:10rem
}
.titles{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.serviceImage{
    float:left;
    width:40%;
    height:20rem;
    margin-left: 6rem;
    margin-right: 20rem;
    margin-top:10rem ;
}
.service{
    float:left;
    margin-left: 0rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-right: 20rem;
}
.ourService{
    margin-top: 10rem;
    margin-right:13rem;
    /* margin-bottom: 20rem; */
    float:left;
    overflow-x: auto;
    text-align: center;
    margin-left: -16rem;
}
h4{
    padding-bottom: 4rem;
}
.missionImage{
    float:right;
    width:40%;
    height:20rem;
    margin-left: 6rem;
    margin-right: 20rem;
    margin-top:10rem ;
}
.ourMission{
    margin-left: 6rem;
    text-align: center;
    margin-top: 10rem;
}
 

