.me-auto {
    margin-left: 27rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.notification{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sign {
    text-decoration: solid;
    color: darkorange;
    font-weight: bold;
    margin-top: 0.4rem;
    margin-left: 4rem;
}

.log {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 0.4rem;
    margin-left: 1rem;

}
