.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.card2{
    align-items: center;
}
.carousel{
    width:auto;
    height:auto;
}
.cards{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}