.links {
	color: black;
	margin-right: 6em;
	margin-left: 2em;
	font-size: 1.5em;
	box-shadow: inset 0 0 0 0 #ffbf00;
	text-decoration: none;
	align-self: center;
	padding: 0 0.25rem;
	font-size: large;
	font-weight: bolder;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.links:active {
	color: #ffbf00;
}
.links:hover {
	box-shadow: inset 100px 0 0 0 yellow;
	color: white;
}
.all {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}

.hr {
	margin-left: 18em;
	margin-right: 20em;
	height: 5em;
	border: 0;
	position: relative;
	margin-top: 1.5em;
}
.rows {
	width: 100%;
	display: flex;
}
.profileContainer {
	width: 25%;
	border: none;
	background-color: white;
}
.newsContainer {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.createPostContainer {
	width: 25%;
}
.formContainer {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	text-align: center;
	width: 300px;
	border-radius: 20px;
}
.createPost {
	align-self: center;
	background-color: yellow;
	border: none;
	color: black;
	font-weight: bolder;
	font-size: 10pt;
	margin-bottom: 20px;
	padding: 5px 10px 5px 10px;
}
