.links {
	color: black;

	margin-right: 6em;
	margin-left: 2em;
	font-size: 1.5em;
	box-shadow: inset 0 0 0 0 #ffbf00;
	text-decoration: none;
	align-self: center;

	padding: 0 0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.links:active {
	color: #ffbf00;
}
.links:hover {
	box-shadow: inset 100px 0 0 0 #ceba77;
	color: white;
}
.linkall {
	position: fixed;
	width: 100%;
	text-align: center;
	padding-top: 1.5em;
}

.hr {
	margin-left: 18em;
	margin-right: 20em;
	height: 5em;
	border: 0;
	position: relative;
	margin-top: 1.5em;
}
.profileContainer {
	border: 3px black solid;
}
.profile-img {
	text-align: center;
	/* margin-top: 7em; */
}
.profile-img img {
	width: 20%;
	float: left;
	height: 100%;
	margin-left: 3em;
	border-radius: 20em;
}
.profile-img .file {
	position: relative;
	overflow: hidden;
	margin-top: -20%;
	width: 70%;
	border: none;
	border-radius: 0;
	font-size: 15px;
	background: #212529b8;
}
.profile-img .file input {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
}
.profileContainer {
	background-color: red;
}

.profile {
	border-color: black;
	border-width: 1em;
	border-radius: 1em;
	/* box-shadow: 3px 5px #d3d0d0; */
}

.profile-head h5 {
	color: #000;
	font-weight: bold;
	margin-left: 2em;
	float: left;
	margin-top: 1em;
}
.profile-head h6 {
	color: #555555;
	margin-left: 2.5em;
	float: left;
	font-size: 0.7em;
}

.profile-work {
	padding: 14%;
	margin-top: -10%;
	float: left;
}
.profile-work p {
	font-size: 12px;
	color: #818182;
	font-weight: 600;
	margin-top: 10%;
}
.profile-work a {
	text-decoration: none;
	color: #495057;
	font-weight: 600;
	font-size: 14px;
}
.profile-work ul {
	list-style: none;
}
.profile-work hr {
	margin-top: -1.5em;
}
.profile-work p {
	font-size: 0.9em;
}
.profile-work a {
	font-weight: bold;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

body {
	background-color: rgb(255, 255, 255);
	font-family: "Manrope", sans-serif;
}

.news-card {
	border-radius: 8px;
	margin-top: -30em;
	width: 50em;
	margin-bottom: 6em;
	box-shadow: 3px 5px #eeebeb;
}

.containerpost {
	margin-left: -14em;
	margin-top: 23em;
	margin-bottom: 2em;
}
.news {
	cursor: pointer;
}

.news-feed-image {
	border-radius: 8px;
	width: 100%;
	/* margin-left: -2em; */
}

.news-feed-text {
	margin-left: -1em;
}

.date {
	font-size: 12px;
	margin-bottom: 0;
	float: right;
}

.username {
	color: rgb(127, 127, 129);
}

.share {
	color: blue;
}

.profile-image {
	margin-left: 1.5em;
}

.news-title {
	margin-left: -5em;
	color: #000;
	text-decoration: none;
}

.news-detail {
	margin-left: 0.1em;
	margin-top: 2em;
	float: left;
	text-align: start;
}

.containercreatepost {
	margin-left: 14em;
	box-shadow: 3px 5px #d3d0d0;
	position: fixed;
	right: 0;
	top: 14em;
}
.post {
	float: left;
}
.preview {
	padding: 10px;
	position: relative;
}

.preview i {
	color: white;
	font-size: 35px;
	transform: translate(50px, 130px);
}

.preview-img {
	border-radius: 100%;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
}

.browse-button {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: absolute; /* Tweak the position property if the element seems to be unfit */
	top: 10px;
	left: 132px;
	background: linear-gradient(180deg, transparent, black);
	opacity: 0;
	transition: 0.3s ease;
}

.browse-button:hover {
	opacity: 1;
}

.browse-input {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	transform: translate(-1px, -26px);
	opacity: 0;
}

.form-group {
	width: 250px;
	margin: 10px auto;
}

.form-group input {
	transition: 0.3s linear;
}

.form-group input:focus {
	border: 1px solid crimson;
	box-shadow: 0 0 0 0;
}

.Error {
	color: crimson;
	font-size: 13px;
}
