@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    font-family: Montserrat;
}



.d-flex{

    
    align-items: center;
    justify-content: center;
    min-height: 41.7em;
}

.text-center{
    font-weight: 800;
}

.card1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 27rem;
    height: 34rem;
    border:none;
    border-radius:20px;
}


.text-center{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration-thickness: 1px;
    text-decoration: none;
    font-weight: 900;

}
.select{
    width:22rem;
    height:35px;
    text-align: center;
    color:  black;
    margin-bottom: 6px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

.btn-block-register{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: none;
    text-decoration: none;
    align-items: center;
}

.btn-block-login{
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 40%;
    border: none;
    position: relative;
    right: 60px;
}
.btn-block-cancel{
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    border: none;
    position: relative;
    left: 80px;
    bottom: 97px;
}
.link{
    margin-bottom: 20rem;
}