.searchContainerMain {
	width: 100%;
	min-height: 600px;
	flex-direction: row;
	display: flex;
}
.searchContainerLeft {
	width: 30%;
	height: 100%;
	background-color: #0080ff;
}
.searchRightContainer {
	width: 70%;
	height: 100%;
}
.personInfoCard {
	width: 100%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 10;
	height: 250px;
	overflow-y: auto;
}
.searchResultContainer {
	width: 100%;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10;
	height: 250px;
	overflow-y: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;
}
