.homeContainer {
	width: 100%;
}
.homeCard {
	background-color: white;
	color: gray;
	text-align: left;
	width: 20%;
}
.buttonCard {
	align-items: flex-start;
}
.topContainerMob{
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 30px;
	width: 100%;
	background-color: white;
	height: 500px;
	display: flex;
	overflow: hidden;
	flex-direction: column;

}
.topContainer {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 30px;
	width: 100%;
	background-color: white;
	height: 500px;
	display: flex;
	overflow: hidden;
	flex-direction: row;
}
.newsContainerHome {
	justify-content: center;
	background-color: white;
	width: 100%;
	padding-top: 30px;
	flex-direction: column;
	padding-left: 3%;
	justify-content: space-between;
}
.wordCaroselContainer {
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	padding-left: 12.5%;
	padding-top: 10%;
	color: black;
}
.wordCaroselContainermob {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	padding-left: 12.5%;
	padding-top: 10%;
	color: black;
}
.image {
	width: 50%;
}
.imageMob {
	width: 100%;
}
.illustration {
	width: 50%;
}
/* button style */
.cssbuttons-io-button {
	background: #0080ff;
	color: white;
	font-family: inherit;
	padding: 0.35em;
	padding-left: 1.2em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #714da6;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
	background: white;
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
	right: 0.3em;
	transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
	width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
	width: 1.1em;
	transition: transform 0.3s;
	color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
	transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
	transform: scale(0.95);
}
