.newsDetailContainer {
	width: 100%;
	flex:1;
	flex-direction: column;
	display: flex;


}
.newsdetailTitle {
	font-size: 41px;
	font-family: sans-serif;
	line-height: 51px;
	font-weight: bold;
	padding-top: 60px;
}
.newsdetailBody {
	font-size: 15px;
	margin-top: 50px;
	line-height: 26px;
	margin-bottom: 50px;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.newscard {
	align-self: flex-start;
	justify-content: flex-start;
	background: none !important;
	padding: 0 !important;
	width: auto !important;
	background:rgb(0,0,0,0.5) !important;
}

.leftnewsDetail {
	width: 60%;
	text-align: left;
	overflow: hidden;
	
}
