.rightContainer {
	width: 25%;
	justify-content: center;
	display: flex;
}
.centerContainer {
	width: 50%;
}
.leftContainer {
	width: 25%;
}
.newsContainer {
	display: flex;
	width: 100%;
	background-color: #f0f2f5;
	flex-direction: row;
}
